h1{
    color: #bab86c;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

button{
    background-color: black;
    color: white;
}

button[id=add], select {
    width: 5%;
    padding: 8px 12px;
    margin: 5px 0;
    display: center;
    border: 1px solid;
    border-radius: 2px;
}